{% load static %}
<html>
<head>
    <title>Clone</title>
    <link rel="stylesheet" type="text/css" href="{% static 'one/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
    <ul>
        <div class="container nav-wrapper">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        </div>
      </ul>
    </nav>
<div class="container" >
    <h1>Daddy's web aap</h1>
<div class="row " >
    <div class="col s4">
        <div class="center">
        <div class="large material-icons" style=" color: rebeccapurple; font-size:120px;">flash_on</i></div>
        <p>This is just an item</p>
        </div>
    </div>
    <div class="col s4">
        <div class="center">
        <div class="large material-icons" style=" color: rebeccapurple; font-size:120px;">add_a_photo</i></div>
        <p>This is just an item</p>
        </div>  
    </div>
    <div class="col s4">
        <div class="center">
        <div class="large material-icons" style=" color: rebeccapurple; font-size:120px;">comment</i></div>
        <p>This is just an item</p>
        </div>  
    </div>
    <div>
    <form action="{% url 'search' %}" method="post">
        {%csrf_token%}
        <input type="text", name="search", placeholder="search">
        <button class="btn waves-effect waves-light" type="submit" name="action">send
            <i class="material-icons right">flash_on</i>
        </button>
    </div>
    </form>

</div>
    {% block content %}

    {% endblock content %}
</div>
</body>
</html>