
{% extends 'one/base.html' %}
{% block content %}
    
    <h3> You searched for {{s}}</h3>

    {% for posts in final_posts %}
    
    <div class="row">
        <div class="col s4 ">
          <div class="card">
            <div class="card-image">
              <img src= {{posts.3}} >
              <span class="card-title">{{posts.0}}</span>
            </div>
            <div class="card-content">
              <p>{{ posts.2 }}</p>
            </div>
            <div class="card-action">
              <a href="{{ posts.1 }}">This is a link</a>
            </div>
          </div>
        </div>

      {% endfor %}
      </div>
{% endblock content %}}